################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/4782533c-10b8-4e80-b6e3-84bcedc15c82.vsidx
/SPADesignPattern/.vs/SPADesignPattern/config/applicationhost.config
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/58511a42-b903-458c-b84f-78a16fece924.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/81c00f98-3015-429b-8b97-a02c55979e4e.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/7171ec39-85d3-477a-a6af-d689fbe57f8e.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/dc6e201f-e7f6-4df5-9acc-373bd13a800c.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/1bb01dfe-82e8-4349-9b74-007cf812ab52.vsidx
/SPADesignPattern/SPADesignPattern/obj/Debug/net9.0/compressed/h46hm7ilvx-nvs39wmbuq.gz
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/75271151-5a98-4d47-af5a-803c3200e80e.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/88f299f5-1f22-49c8-9de9-fe3372709009.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/aa3ce8bf-2964-49bb-ab7d-28f55ff7a733.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/e61055b1-48f9-4f68-a143-d349136a4559.vsidx
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/e76c9962-c509-4d40-9864-a7520278490a.vsidx
/SPADesignPattern/SPADesignPattern/obj/Debug/net9.0/compressed/h46hm7ilvx-bgsbu30a7j.gz
/SPADesignPattern/.vs/SPADesignPattern/FileContentIndex/73b16b38-3987-4127-b9bd-46327025f45f.vsidx
